/* ------------------------------ */
/* Header*/
/* ---------------------------------- */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333333;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

/* ------------------------------ */
/* Jobs */
/* ---------------------------------- */
.jobs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50em;
  margin: 30px auto;
}
.jobs > div {
  height: 160px;
  /* width: calc(100% / 4 -200px / 2); */
  width: calc(100% / 3 - (40px / 2));
  border: rgb(0, 0, 0) 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.jobs > div:not(:nth-child(3n)) {
  /* margin-right: 20px; */
}

.jobs > .red {
  border: red 5px solid;
}
.jobs > .green {
  border: green 5px solid;
}
.jobs > .yellow {
  border: yellow 5px solid;
}
.jobs > .blue {
  border: blue 5px solid;
}
.jobs > .pink {
  border: pink 5px solid;
}

/* ------------------------------ */
/* Media queries */
/* ---------------------------------- */

@media (max-width: 1024px) {
  .jobs {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .jobs > div {
    width: calc(100% / 2 - (80px / 2));
  }
}
@media (max-width: 578px) {
  .jobs > div {
    width: calc(100%);
  }
}
